body {
    background-color: paleturquoise;
}
.heading {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: purple;
    margin-left: 100px;
    margin-top: 250px;
    font-size: 30px;
    display: inline-block;
}
table {
    margin: auto;
}
.calculate {
    float: right;
    background: url("photo.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    justify-content: center;
    margin-top: 150px;
    margin-right: 300px;
    border: 10px solid black;
    border-radius: 5px;
    /* display: inline-block; */
}
input {
    margin: 1px;
    background-color: azure;
    font-size: 30px;
    height: 50px;
    width: 370px;
    text-align: right;
    border: 5px solid black;
}
input:hover {
    background-color: blanchedalmond;
}
button {
    
    font-size: 40px;
    background-color: rgb(243, 242, 0.1);
    height: 50px;
    width: 85px;
    margin: 1px;
}
button:hover {
    cursor: pointer;
    background-color: sandybrown;
}